body {
    min-width: 100%;
    background-color: #FFFFFF;
}

.feedback-item {
    margin-top: 7px;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    box-shadow: 1px 1px #AAAAAA;
    padding-top: 1em;
    padding-bottom: 1em;
}

.container-fluid {
    margin-left: 5px;
}

.first {
    background-color: #FFFFFF;
    margin-left: 1%;
}

.second {
    background-color: #FFFFFF;
    margin-left: 1%;
    margin-top: 5px;
}

.student_name {
    font-size: 18pt;
}

.food_item {
    font-size: 14pt;
}

.feedback {
    font-size: 12pt;
}

.submitted {
    font-size: 10pt;
}
.student_name, .food_item, .feedback , .submitted{
    color: #333333;
    margin-bottom: 0.5em;
}
select {
    margin: 5px 5px 5px 0;
}

