.feedback-item {
    margin-top: 7px;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    box-shadow: 1px 1px #AAAAAA;
    padding-top: 1em;
    padding-bottom: 1em;
}

.first {
    background-color: #FFFFFF;
    margin-left: 1%;
}

.second {
    background-color: #FFFFFF;
    margin-left: 1%;
    margin-top: 5px;
}

.student_name {
    font-size: 18pt;
}

.food_item {
    font-size: 14pt;
}

.feedback {
    font-size: 12pt;
}

.submitted {
    font-size: 10pt;
}
.student_name, .food_item, .feedback , .submitted{
    color: #333333;
    margin-bottom: 0.5em;
}
select {
    margin: 1% 1% 1% 0;
    border-radius: 5px;
}

.btn button {
    background-color: green;
    width: 100%;
}

#menubtn {
    margin-left: 2%;
    width: 31%;
}

.form-group {
    padding-left: 2%;
}
.sdetails {
    padding-top: 2%;
    margin-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    box-shadow: 1px 1px #BBBBBB;
}

.sdetails input[type=text] {
    margin-bottom: 4%;
}

.sdetails button {
    width: 40%;
}
