body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.login-panel {
    margin-top: 5%;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    padding-top: 6%;
    padding-bottom: 6%;
    box-shadow: 1px 1px #BBBBBB;
}

img {
    height: 7pc;
    width: 8pc;
    margin-left: 7pc;
    border-radius: 50%;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #DDDDDD;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

input[type=password] {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.feedback-panel {
    padding: 10%;
    border: 1px solid #eeeeee;
    margin-top: 50%;
    box-shadow: 1px 1px #bbbbbb;
}

.buttoncontainer button {
    width: 12%;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.left-pane {
    background-color: #EEEEEE;
    height: 95vh;
    overflow-y: auto;
}

div.left-pane>ul.pane-navigation {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

div.left-pane>ul.pane-navigation>li>a {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}

div.left-pane>ul.pane-navigation>li>a {
    color: #000000;
    font-weight: 100;
    letter-spacing: 0.2em;
    text-decoration: none;
}

div.left-pane>ul.pane-navigation>li:hover {
    background-color: #DDDDDD;
}

div.left-pane>ul.pane-navigation>li:not(:last-child) {
    border-bottom: 1px solid #DDDDDD;
}

div.right-pane {
    height: 95vh;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

li.list-item-day{
    font-weight:bold;
    font-size: 18pt;
    list-style-type:none;
}
li.list-item-time{
    font-weight: 200;
    font-size: 14pt;
}
li.list-item-meal{
    font-weight: 200;
    font-size: 12pt;
}
